.highlight {
  //background-color: #faf9f9;
  //-webkit-border-radius: 3px;
   //       border-radius: 3px;
  margin: 0;
  //overflow:scroll;
  line-height: 1.0;
     font-family: 'Ubuntu Mono', monospace;

}

.highlighter-rouge {
  //color: #ce887b;
  //font-weight: 400;

  padding: 0.1rem 0.5rem;
}