title: So you want to build a nas
email: coetzeer@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  A journey into NAS building, with lots of side trips into FreeBSD and Linux Nerdfests,
  detours into virtualization and occasionally taking a scenic route through a jail.
baseurl: ""
#baseurl: "/darktech" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
site-twitter: #if your site has a twitter account, enter it here

# Author Settings
author: Raymond Coetzee # add your name
author-img: hard-drive.png # add your photo
about-author: I am a devops-er. And a software developer. I like taking the pain out of boring jobs. # add description
#social-twitter: coetzeer # add your Twitter handle
social-github: coetzeer # add your Github handle
social-linkedin: raymond-coetzee # add your Linkedin handle
#social-email: foo@please-dont-email.me # add your Email address


# Disqus
discus-identifier: foo # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji
  - jekyll-feed

# plugins:
#   - jekyll-paginate
#   - jekyll-sitemap
#   - jekyll-gist
#   - jekyll-feed
#   - jemoji

paginate: 8
paginate_path: "/page/:num"

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock"]

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style
