
img[alt$=">"] {
  float: right;
  padding: 20px 20px 20px 20px;
  max-width: 30%;
}

img[alt$="<"] {
  float:left;
  padding: 20px 20px 20px 20px;
  max-width: 30%;
}

img[alt$="<>"] {
    display: block;
    max-width: 50%;
    height: auto;
    margin: auto;
    float: none!important;
    padding: 20px 20px 20px 20px;

}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
  text-indent: 0;
  padding: 10px 0px 0px 0px;
}

.border {
  border: thin silver solid;
  padding: 0.5em;
}

.image-small {
  max-width: 30%;
}

.image-medium {
  max-width: 50%;
}

.image-large {
  max-width: 70%;
}

.image-right {
  float: right;
}

.image-left {
  float: left;
}

.image-centre {
  margin-left: auto;
  margin-right: auto;
}
