/* Coolors Exported Palette - coolors.co/3a0808-444444-000000-d2f6f0-324a5e */

/* HSL */
$color1: hsla(0%, 76%, 13%, 1);
$color2: hsla(0%, 0%, 27%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(170%, 67%, 89%, 1);
$color5: hsla(207%, 31%, 28%, 1);

/* RGB */
$color1: rgba(58, 8, 8, 1);
$color2: rgba(68, 68, 68, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(210, 246, 240, 1);
$color5: rgba(50, 74, 94, 1);